<!-- <div class="well" ng-repeat="item in $ctrl.menu_items">
	<span>name : {{item.name}} </span>
	<span>description : {{item.description}} </span>
</div> -->


<div class="panel panel-danger">
  <div class="panel-heading">menu Items</div>
  <div class="panel-body">
     <!-- <items-list menu_items="itemsctrl.menu_items"></items-list> -->
    <!-- <div ng-repeat="item in itemsctrl.menu_items" class="well">
		<p>{{item.id}}</p>
		<p>{{item.name}}</p>
		<p>{{item.description}}</p>
	</div> -->

	<items-list items="itemsctrl.menu_items"></items-list>
  </div>
</div>
